{% extends "admin_layout.html" %}
{% block title %} Criar produtos {% endblock %} 
{% block main %}
    <h1 class="text-center font-bold font-serif text-3xl mt-3">Criar um produto</h1>
    <form action="{{ url_for('.create_product') }}" enctype="multipart/form-data" method="post" >
        <div class="flex justify-center mt-3">
            <div class="space-y-8 max-w-72  md:max-w-lg w-full mx-auto">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="mb-12">
                    <label for="name" class="block mb-2.5 text-sm font-medium font-serif text-[#373831]">Nome:</label>
                    <input
                    type="text"
                    id="name"
                    name="name"
                    inputmode="text"
                    aria-describedby="helper-text-explanation" 
                    class="bg-[#eae9dd] text-pink-900 text-sm
                    rounded-lg focus:ring-2 focus:ring-[#f7c5c5] block w-full px-3 py-2.5 shadow-sm placeholder:text-gray-600/60"
                    placeholder="Nome do produto"
                    required />
                </div>
                <div>
                    <label for="price" class="block mb-2.5 text-sm font-medium font-serif text-[#373831]" >Selecione um preço:</label>
                    <input 
                    type="text" 
                    id="price" 
                    name="price"
                    inputmode="decimal"
                    aria-describedby="helper-text-explanation" 
                    class="only-numbers bg-[#eae9dd] text-pink-900 text-sm rounded-lg focus:ring-2
                    focus:ring-[#f7c5c5] block w-full px-3 py-2.5 shadow-sm placeholder:text-gray-600/60" 
                    placeholder="R$" 
                    required />
                </div>
                <div class="mb-12">
                    <label for="description" class="block mb-2.5 text-sm font-medium font-serif text-[#373831]">Descrição:</label>
                    <input
                    type="text"
                    id="description"
                    name="description"
                    inputmode="text"
                    class="bg-[#eae9dd] text-pink-900 text-sm rounded-lg focus:ring-2
                    focus:ring-[#f7c5c5] block w-full px-3 py-2.5 shadow-sm placeholder:text-gray-600/60"
                    placeholder="Descrição do produto"
                    required />
                </div>
                <div>
                    <label for="categories" class="block mb-2.5 text-sm font-medium font-serif text-[#373831]">Selecione uma categoria</label>
                    <select id="categories" name="category-id" class="block w-full px-3 py-2.5 bg-[#eae9dd] text-pink-900  text-sm rounded-lg focus:ring-[#f7c5c5] focus:ring-2 shadow-xs placeholder:text-gray-600/60">
                        <option disabled value="0" selected >Categorias</option>
                        {% for category in categories %}
                        <option value="{{category.id}}" >{{category.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="stock" class="block mb-2.5 text-sm font-medium font-serif text-[#373831]" >Selecione um estoque:</label>
                    <input 
                    type="text" 
                    id="stock" 
                    name="stock"
                    inputmode="numeric"
                    aria-describedby="helper-text-explanation" 
                    class="only-numbers bg-[#eae9dd] text-pink-900 text-sm rounded-lg focus:ring-2
                    focus:ring-[#f7c5c5] block w-full px-3 py-2.5 shadow-sm placeholder:text-gray-600/60" 
                    placeholder="Estoque" 
                    required />
                </div>
                <div class="flex items-center">
                    <input
                    checked
                    id="is-active"
                    name="is-active"
                    type="checkbox"
                    value="1"
                    class="h-6 w-11 cursor-pointer appearance-none rounded-full border-2 border-gray-400 bg-transparent transition-all duration-300 before:absolute before:mt-[2px] before:ml-[2px] before:h-4 before:w-4 before:rounded-full before:bg-gray-400 before:transition-transform before:duration-300 checked:border-[#1f2937] checked:bg-transparent checked:before:translate-x-5 checked:before:bg-[#1f2937] focus:outline-none focus:ring-2 focus:ring-[#f7c5c5] focus:ring-offset-2">
                    <label for="is-active" class="select-none ms-2 text-sm font-medium font-serif">Disponível</label>
                </div>
                <div>
                    <label class="block mb-2.5  text-sm font-medium font-serif" for="image">Carregar foto</label>
                    <input class="cursor-pointer bg-[#eae9dd] focus:ring-[#f7c5c5] focus:ring-2 text-sm rounded-lg focus:ring-brand focus:border-brand block w-full shadow-xs placeholder:text-body" aria-describedby="image" id="image" name="image" type="file" accept=".jpg,.jpeg,.webp">
                    <p class="mt-1 text-sm text-gray-600 dark:text-gray-600" id="image">JPG, JPEG, WEBP (MAX. 800x800px).</p>
                </div>
                <div class="flex justify-center">
                    <button
                        type="submit"
                        class="text-white bg-[#815a5b] hover:bg-[#a97c7d] shadow-xl shadow-[#815a5b]/5 transition duration-300 focus:ring-2 focus:ring-[#f7c5c5]
                        font-medium leading-5 rounded-full text-sm px-8 py-3 focus:outline-none mt-6 ">
                        Salvar alterações
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}