{% extends "layout.html" %}
{% block main %}
    <form action="{{url_for('products.edit_product')}}" method="post" enctype="multipart/form-data">
        <div class="flex justify-center mt-3">
            <div class="space-y-8 max-w-md w-full mx-auto">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="mb-12">
                    <label for="name" class="block mb-2.5 text-sm font-medium font-serif text-[#373831]">Nome:</label>
                    <input
                    type="text"
                    id="name"
                    name="name"
                    value="{{product.name}}"
                    inputmode="text"
                    aria-describedby="helper-text-explanation" 
                    class="bg-[#eae9dd] text-pink-900 text-sm
                    rounded-lg focus:ring-2 focus:ring-[#f7c5c5] block w-full px-3 py-2.5 shadow-sm placeholder:text-gray-600/60"
                    placeholder="Mudar nome"
                    required />
                </div>
                <div>
                    <label for="price" class="block mb-2.5 text-sm font-medium font-serif text-[#373831]" >Selecione um preço:</label>
                    <input 
                    type="text" 
                    id="price" 
                    name="price"
                    value="{{product.price}}"
                    inputmode="decimal"
                    aria-describedby="helper-text-explanation" 
                    class="only-numbers bg-[#eae9dd] text-pink-900 text-sm rounded-lg focus:ring-2
                    focus:ring-[#f7c5c5] block w-full px-3 py-2.5 shadow-sm placeholder:text-gray-600/60" 
                    placeholder="Mudar R$" 
                    required />
                </div>
                <div class="mb-12">
                    <label for="description" class="block mb-2.5 text-sm font-medium font-serif text-[#373831]">Descrição:</label>
                    <input
                    type="text"
                    id="description"
                    name="description"
                    value="{{product.description}}"
                    inputmode="text"
                    class="bg-[#eae9dd] text-pink-900 text-sm rounded-lg focus:ring-2
                    focus:ring-[#f7c5c5] block w-full px-3 py-2.5 shadow-sm placeholder:text-gray-600/60"
                    placeholder="Nova descrição" />
                </div>
                <div>
                    <label for="categories" class="block mb-2.5 text-sm font-medium font-serif text-[#373831]">Selecione uma categoria</label>
                    <select id="categories" name="category-id" class="block w-full px-3 py-2.5 bg-[#eae9dd] text-pink-900  text-sm rounded-lg focus:ring-[#f7c5c5] focus:ring-2 shadow-xs placeholder:text-gray-600/60">
                        <option disabled value="0" selected >Categorias</option>
                        {% for category in categories %}
                        <option value="{{category.id}}" >{{category.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="stock" class="block mb-2.5 text-sm font-medium font-serif text-[#373831]" >Selecione um estoque:</label>
                    <input 
                    type="text" 
                    id="stock" 
                    name="stock"
                    value="{{product.stock}}"
                    inputmode="numeric"
                    aria-describedby="helper-text-explanation" 
                    class="only-numbers bg-[#eae9dd] text-pink-900 text-sm rounded-lg focus:ring-2
                    focus:ring-[#f7c5c5] block w-full px-3 py-2.5 shadow-sm placeholder:text-gray-600/60" 
                    placeholder="Novo estoque" 
                    required />
                </div>
                <div class="flex items-center">
                    <input 
                    {% if product.is_active %}
                        checked
                    {% endif %}
                    id="is-active" 
                    name="is-active" 
                    type="checkbox" 
                    value="1" 
                    class="toggle">
                    <label for="is-active" class="select-none ms-2 text-sm font-medium font-serif">Disponível</label>
                </div>
                <div>
                    <label class="block mb-2.5 text-sm font-medium font-serif" for="image">Carregar foto</label>
                    <input class="cursor-pointer bg-[#eae9dd] focus:ring-[#f7c5c5] focus:ring-2 text-sm rounded-lg focus:ring-brand focus:border-brand block w-full shadow-xs placeholder:text-body" aria-describedby="image" id="image" name="image" type="file" accept=".jpg,.jpeg,.webp">
                    <p class="mt-1 text-sm text-gray-600 dark:text-gray-600" id="image">JPG, JPEG, WEBP (MAX. 800x800px).</p>
                </div>
                <input type="hidden" name="product-id" value="{{product.id}}">
                <div class="flex justify-center">
                    <button
                        type="submit"
                        class="text-white bg-[#815a5b] hover:bg-[#a97c7d] shadow-xl shadow-[#815a5b]/5 transition duration-300 focus:ring-2 focus:ring-[#f7c5c5]
                        font-medium leading-5 rounded-full text-sm px-8 py-3 focus:outline-none mt-6 ">
                        Salvar alterações
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}