{% extends "layout.html" %}
{% block main %}
    <h1>Products</h1>
    <h2>Add product</h2>
    <form action="{{ url_for('produtos.products') }}" method="post" >
        <input type="text" name="name" placeholder="name">
        <input type="number" name="price" placeholder="price">
        <input type="text" name="description" placeholder="description">
        <input type="number" name="category-id" placeholder="category-id">
        <input type="number" name="stock" placeholder="stock">
        <input type="number" name="is-active" placeholder="is-active">
        <input type="text" name="image" placeholder="image">
        <button type="submit">Add product</button>
    </form>
    <table>
        <thead>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>category-id</th>
            <th>Stock</th>
            <th>Is-Active</th>
            <th>Image</th>
        </thead>
        <tbody>
            {% for product in products %}
            <tr style="border: 1px solid black;">
                <td style="border: 1px solid black;" >{{product.name}}</td>
                <td style="border: 1px solid black;">{{product.price}}</td>
                <td style="border: 1px solid black;">{{product.description}}</td>
                <td style="border: 1px solid black;">{{product.category.name}}</td>
                <td style="border: 1px solid black;">{{product.stock}}</td>
                <td style="border: 1px solid black;">{{product.is_active}}</td>
                <td style="border: 1px solid black;">{{product.image}}</td>
                <td>
                    <form action="{{url_for('carrinho.add_to_cart')}}" method="post">
                        <input type="hidden" value="{{product.id}}" name="id">
                        <button type="submit">Add to cart</button>
                    </form>
                </td>
                <td>
                    <form action="{{url_for('produtos.del_product')}}" method="post">
                        <input type="hidden" value="{{product.id}}" name="id">
                        <button type="submit">Deletar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('carrinho.cart') }}">Carrinho</a>
    <h2>Add category</h2>
    <form action="{{url_for('produtos.add_category')}}" method="post">
        <input type="text" name="name" placeholder="nome da categoria">
        <button type="submit">Adicionar categoria</button>
    </form>
    
    <table>
        <thead>
            <th>Id</th>
            <th>Name</th>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{category.id}}</td>
                    <td>{{category.name}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}