{% extends "layout.html" %}
{% block title %} Registro {% endblock %}
{% block main %}
    <h1 class="">Criar conta</h1>
    <form action="{{ url_for('auth.register')}}" method="post">
        <input name="username" type="text" autocomplete="username" placeholder="nome de usuario" class="block"  >
        <input name="email" type="email" autocomplete="email" placeholder="email" class="block">
        <input name="password" type="password" autocomplete="new-password" placeholder="senha" class="block">
        <input name="phone" type="tel" autocomplete="tel-national" placeholder="telefone" class="block">
        <button>Cadastrar usuario</button>
    </form>
    {% if current_user.is_authenticated %}
        <h1>Voce esta logado! Ola {{current_user.username}}</h1>
    {% else %}
        <h1>Voce nao esta logado!</h1>
    {%endif%}
    <a href="{{ url_for('products.products') }}">Produtos</a>

{% endblock %}