<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%} {%endblock%}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/output.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css" rel="stylesheet" />
</head>
<body>
    <header class="sticky top-0 z-20 w-full inset-s-0">
        <nav class="bg-brand-secondary backdrop-blur-md shadow-xl shadow-primary/10">
            <div class="flex flex-wrap items-center justify-between max-w-7xl p-4 mx-auto">
                <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
                    <img src="https://flowbite.com/docs/images/logo.svg" class="h-7" alt="Flowbite Logo" />
                    <span class="self-center text-xl font-semibold text-text-main whitespace-nowrap">Flowbite</span>
                </a>
                <div class="flex items-center space-x-6 rtl:space-x-reverse">
                    
                    {% if current_user.is_authenticated %}
                        <a href="tel:5541251234" class="text-sm text-gray-700 hover:underline">{{current_user.phone_number}}</a>
                        <a href="{{url_for('cart.cart')}}" class="text-sm font-medium text-primary hover:underline">Carrinho</a>
                        <a href="{{url_for('auth.profile')}}" class="text-sm font-medium text-primary hover:underline">Perfil</a>
                    {% else %}
                        <a href="{{url_for('auth.login')}}" class="text-sm font-medium text-primary hover:underline">Entrar</a>
                        <a href="{{url_for('auth.register')}}" class="text-sm font-medium text-primary hover:underline">Registrar</a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <nav class="bg-background">
            <div class="max-w-7xl px-4 py-3 mx-auto">
                <div class="flex items-center">
                    <ul class="flex flex-row gap-8 mt-0 text-sm font-medium rtl:space-x-reverse">
                        <li>
                            <a href="{{ url_for('index')}}" class="text-text-main hover:underline" aria-current="page">Home</a>
                        </li>
                        <li>
                            <a href="{{ url_for('products.products')}}" class="text-text-main hover:underline">Produtos</a>
                        </li>
                        <li>
                            <a href="{{ url_for('categories.categories')}}" class="text-text-main hover:underline">Categorias</a>
                        </li>
                        <li>
                            <a href="{{ url_for('orders.orders')}}" class="text-text-main hover:underline">Pedidos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages%}
            <section class="max-w-7x px-4 mx-auto my-3 space-y-3">
                {% for category, message in messages %}
                    {% if category == "error" %}
                        <div class="flex items-start sm:items-center p-4 mb-4 text-sm  rounded-md bg-red-600  " role="alert">
                            <svg class="w-4 h-4 me-2 shrink-0 mt-0.5 sm:mt-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/></svg>
                            <p><span class="font-medium me-1">Erro!</span>{{message}}</p>
                        </div>
                    {% elif category == "info" %}
                        <div class="flex items-start sm:items-center p-4 mb-4 text-sm rounded-md bg-blue-500  " role="alert">
                            <svg class="w-4 h-4 me-2 shrink-0 mt-0.5 sm:mt-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/></svg>
                            <p><span class="font-medium me-1">Info!</span>{{message}}</p>
                        </div>
                    {% elif category == "success" %}
                        <div class="flex items-start sm:items-center p-4 mb-4 text-sm rounded-md bg-green-600  " role="alert">
                            <svg class="w-4 h-4 me-2 shrink-0 mt-0.5 sm:mt-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/></svg>
                            <p><span class="font-medium me-1">Sucesso!</span>{{message}}</p>
                        </div>
                    {% elif category == "warning" %}
                    <div class="flex items-start sm:items-center p-4 mb-4 text-s rounded-md bg-orange-600  " role="alert">
                        <svg class="w-4 h-4 me-2 shrink-0 mt-0.5 sm:mt-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/></svg>
                        <p><span class="font-medium me-1">Aviso!</span>{{message}}</p>
                    </div>
                    {% endif %}
                {% endfor %}
            </section>
        {% endif %}
    {% endwith %}
    {%block main%} {%endblock%}
</body>
<script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>

</html>