<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%} {%endblock%}</title>
    <script src=""></script>
</head>
<body>
    <header style="width: 100%;">
        <nav>
            <ul style="display: flex; flex-direction: row; gap: 50px;">
                <li><a href="{{ url_for('index')}}">Inicio</a></li>
                <li><a href="{{ url_for('products.products')}}">Produtos</a></li>
                <li><a href="{{ url_for('cart.cart')}}">Carrinho</a></li>
                <li><a href="{{ url_for('orders.orders')}}">Pedidos</a></li>
                <li><a href="{{ url_for('auth.login')}}">Entrar</a></li>
                <li><a href="{{ url_for('auth.register')}}">Registrar</a></li>
                <a href="{{ url_for('auth.logout')}}">Sair</a>
            </ul>
        </nav>
    </header>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages%}
            <section style="margin: 12px 0;">
                {% for category, message in messages %}
                    <div class="flash {{category}}" style="padding: 10px; border: 1px solid #ccc; margin-bottom: 8px;">
                        {{message}}
                    </div>
                {% endfor %}
            </section>
        {% endif %}
    {% endwith %}
    {%block main%} {%endblock%}
</body>
</html>